<div class = 'container'>
<h1> Create a New Party! </h1>
  <% if @error  %>
   <p> <%= @error %> :-( <p>
  <%end  %>
<form action="/parties" method="post">
  Party Name:
  <input class="boxes" type="text" name="name"><br>
  Password:
  <input class="boxes" type="password" name="password">
  <input type="submit" value="Add a New Party">
</form>
</div>

