body {
  background-color: #F5F5DC;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  width: 50%;
  border: 3px dotted  #2F4F4F;
  padding: 20px;
}

th {
  text-align: left;
}

#main_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:   #2F4F4F;
}

li {
    float: right;
}

li a {
    display: block;
    color: #F5F5DC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main_title {
    float: left;
    display: block;
    color: #F5F5DC;
    text-align: center;
    padding: 2px 20px;
    text-decoration: none;

}

li a:hover {
    background-color:  #DC143C;
}


#titler {
     margin: 50px;
}
