<div class = 'container'>
<h1> Login Please! </h1>
<form action="/users/login" method="post">
  Email:
  <input class="boxes" type="text" name="email"><br>
  Password:
  <input class="boxes" type="password" name="password">
  <input type="submit" value="Login">
</form>
</div>
